﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@WebApplication1.Resources.NavbarTexts.language</h2>

<ul>
    <il>@Html.ActionLink("Türkçe", "Change", "Language", new { LanguageAbbrevation = "tr" }, null) </il>
    <il>@Html.ActionLink("English", "Change", "Language", new { LanguageAbbrevation = "en" }, null) </il>
    <il>@Html.ActionLink("Nederlands", "Change", "Language", new { LanguageAbbrevation = "nl" }, null) </il>
</ul>

