﻿@model WebApplication1.Models.Advertisement

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Advertisement</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.AdvString)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AdvString)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AdvImage)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AdvImage)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AdvCategory)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AdvCategory)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.AdvID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
