﻿@model IEnumerable<WebApplication1.Models.Advertisement>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.AdvString)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AdvImage)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AdvCategory)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.AdvString)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AdvImage)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AdvCategory)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.AdvID }) |
            @Html.ActionLink("Details", "Details", new { id=item.AdvID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.AdvID })
        </td>
    </tr>
}

</table>
