﻿@{
    @model List<WebApplication1.Models.Advertisement>


}

<div class="colorlib-partner">
    <div class="container">
        <div class="row">
            <div class="col-sm-8 offset-sm-2 text-center colorlib-heading colorlib-heading-sm">
                <h2>@WebApplication1.Resources.FooterTexts.worldBrands</h2>
            </div>
        </div>
        <div class="row">

            @{

                foreach (var item in Model)
                {
                    <div class="col partner-col text-center">
                        <img src="@item.AdvImage" class="img-fluid" alt=@item.AdvString>
                    </div>
                }
            }
        </div>
    </div>
</div>


<footer id="colorlib-footer" role="contentinfo">
    <div class="container">
        <div class="row row-pb-md">
            <div class="col footer-col colorlib-widget">
                <h4>Ayakkabı Diyarı©</h4>
                <p>@WebApplication1.Resources.FooterTexts.text1</p>
                <p>
                    <ul class="colorlib-social-icons">
                        <li><a href="#"><i class="icon-twitter"></i></a></li>
                        <li><a href="#"><i class="icon-facebook"></i></a></li>
                        <li><a href="#"><i class="icon-linkedin"></i></a></li>
                        <li><a href="#"><i class="icon-dribbble"></i></a></li>
                    </ul>
                </p>
            </div>
            <div class="col footer-col colorlib-widget">
                <h4>@WebApplication1.Resources.FooterTexts.customerServ</h4>
                <p>
                    <ul class="colorlib-footer-links">
                        <li><a href="#">@WebApplication1.Resources.FooterTexts.contact</a></li>
                        <li><a href="#">@WebApplication1.Resources.FooterTexts.returnit</a></li>
                        <li><a href="#">@WebApplication1.Resources.FooterTexts.coupon</a></li>
                        <li><a href="#">@WebApplication1.Resources.FooterTexts.recommend</a></li>
                    </ul>
                </p>
            </div>
            <div class="col footer-col colorlib-widget">
                <h4>@WebApplication1.Resources.FooterTexts.info</h4>
                <p>
                    <ul class="colorlib-footer-links">
                        <li><a href="#">@WebApplication1.Resources.FooterTexts.info</a></li>
                        <li><a href="#">@WebApplication1.Resources.FooterTexts.deliveryInfo</a></li>
                        <li><a href="#">@WebApplication1.Resources.FooterTexts.privacyPolicy</a></li>
                        <li><a href="#">@WebApplication1.Resources.FooterTexts.support</a></li>
                        <li><a href="#">@WebApplication1.Resources.FooterTexts.tracking</a></li>
                    </ul>
                </p>
            </div>
            <div class="col footer-col">
                <h4>@WebApplication1.Resources.FooterTexts.contactInfo</h4>
                <ul class="colorlib-footer-links">
                    <li>Serdivan/Sakarya<br> Sakarya Üniversitesi Kampüs 203</li>
                    <li><a href="tel://1234567920">+ 1235 2355 98</a></li>
                    <li><a href="mailto:info@yoursite.com">info@yoursite.com</a></li>
                    <li><a href="#">yoursite.com</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="copy">
        <div class="row">
            <div class="col-sm-12 text-center">
                <p>

                </p>
            </div>
        </div>
    </div>
</footer>
