﻿@{
    Layout = null;
}


<!DOCTYPE HTML>
<html lang="tr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Rokkitt:100,300,400,700" rel="stylesheet">
    @Styles.Render("~/Content/css")
</head>
<body>
    @Html.Partial("_Navbar", ViewData["TextTrademarks"])

    <div id="page">

        @RenderBody()

        @Html.Partial("_Footer", ViewData["PictureTrademarks"])

    </div>
    <div class="gototop js-top">
        <a href="#" class="js-gotop"><i class="ion-ios-arrow-up"></i></a>
    </div>

    @Scripts.Render("~/Content/js")
</body>
</html>
