﻿@{
    @model List<WebApplication1.Models.Advertisement>
}

<nav class="colorlib-nav" role="navigation">
    <div class="top-menu">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-md-6">
                    <div id="colorlib-logo"><a href="@Url.Action("Index","Home",null)">Ayakkabı Diyarı</a></div>
                </div>

                <div class="col-sm-6 col-md-9">
                    
                </div>
                <div class="col-sm-5 col-md-3">

                    <div class="btn-group dropright">
                        <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="width:100%">
                            @WebApplication1.Resources.NavbarTexts.language
                        </button>
                        <div class="dropdown-menu">
                            <div type="button" class="btn btn-outline-secondary" style="width:100%">@Html.ActionLink("Türkçe", "Change", "Language", new { LanguageAbbrevation = "tr", @class = "btn btn-primary btn-large" }, null)</div>
                            <div type="button" class="btn btn-outline-secondary" style="width:100%">@Html.ActionLink("English", "Change", "Language", new { LanguageAbbrevation = "en", @class = "btn btn-primary btn-large" }, null)</div>
                            <div type="button" class="btn btn-outline-secondary" style="width:100%">@Html.ActionLink("Nederlands", "Change", "Language", new { LanguageAbbrevation = "nl", @class = "btn btn-primary btn-large" }, null)</div>
                        </div>
                    </div>


                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 text-left menu-1">
                    <ul>
                        <li class="active"><a href="@Url.Action("Index","Home",null)">@WebApplication1.Resources.NavbarTexts.home</a></li>
                        <li class="has-dropdown">
                            <a href="@Url.Action("Erkek","Home",null)">@WebApplication1.Resources.NavbarTexts.men</a>
                            
                        </li>
                        <li class="has-dropdown">
                            <a href="@Url.Action("Kadin","Home",null)">@WebApplication1.Resources.NavbarTexts.women</a>
                            
                        </li>



                        <li><a href="@Url.Action("About","Home",null)">@WebApplication1.Resources.NavbarTexts.about</a></li>
                        <li><a href="@Url.Action("Contact","Home",null)">@WebApplication1.Resources.NavbarTexts.contact</a></li>
                        <li class="cart"><a href="/Home/Card"><i class="icon-shopping-cart"></i> @WebApplication1.Resources.NavbarTexts.cart [0]</a></li>
                        @if (Session["UserName"] == null)
                        {
                            <li class="cart"><a href="@Url.Action("LogIn","User",null)"><i class="icon-log-in"></i> @WebApplication1.Resources.NavbarTexts.login</a></li>
                            <li class="cart"><a href="@Url.Action("Registration","User",null)"><i class="icon-at-sign"></i> @WebApplication1.Resources.NavbarTexts.signup</a></li>
                        }
                        else
                        {
                            <li class="cart"><i class="icon-log-in"></i> Hoşgeldin @Session["UserName"].ToString()</li>
                            <li class="cart"><a href="@Url.Action("LogOut","User",null)"><i class="icon-log-in"></i>çıkış yap</a></li>

                        }
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="sale">
        <div class="container">
            <div class="row">
                <div class="col-sm-8 offset-sm-2 text-center">
                    <div class="row">
                        <div class="owl-carousel2">

                            @{ foreach (var item in Model)
                                {
                                <div class="item">
                                <div class="col">
                                    <h3><a href="#"> @item.AdvString</a></h3>
                                </div>
                                </div>

                                }
                            }
                </div>
            </div>
        </div>
    </div>
            </div>
        </div>
</nav>
