﻿
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="breadcrumbs">
    <div class="container">
        <div class="row">
            <div class="col">
                <p class="bread"><span><a href="@Url.Action("Index","Home",null)">@WebApplication1.Resources.AboutTexts.main</a></span> / <span>@WebApplication1.Resources.AboutTexts.about</span></p>
            </div>
        </div>
    </div>
</div>

<div class="colorlib-about">
    <div class="container">
        <div class="row row-pb-lg">
            <div class="col-sm-6 mb-3">
                <div class="video colorlib-video" style="background-image: url(/Content/images/about.jpg);">
                    <a href="https://vimeo.com/channels/staffpicks/93951774" class="popup-vimeo"><i class="icon-play3"></i></a>
                    <div class="overlay"></div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="about-wrap">
                    <h2>@WebApplication1.Resources.AboutTexts.headerWrap</h2>
                    <p>@WebApplication1.Resources.AboutTexts.aboutWrap1</p>
                    <p>@WebApplication1.Resources.AboutTexts.aboutWrap2</p>
                </div>
            </div>
        </div>
    </div>
</div>
