﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    var cargoPrice = 4.99m;
    @model List<WebApplication1.Models.Cart>
}

<div class="colorlib-product">
    <div class="container">
        <div class="row row-pb-lg">
            <div class="col-md-10 offset-md-1">
                <div class="process-wrap">
                    <div class="process text-center active">
                        <p><span>01</span></p>
                        <h3>@WebApplication1.Resources.CardTexts.cart</h3>
                    </div>
                    <div class="process text-center">
                        <p><span>02</span></p>
                        <h3>@WebApplication1.Resources.CardTexts.control</h3>
                    </div>
                    <div class="process text-center">
                        <p><span>03</span></p>
                        <h3>@WebApplication1.Resources.CardTexts.success</h3>
                    </div>
                </div>
            </div>
        </div>
        <div class="row row-pb-lg">
            <div class="col-md-12">
                <div class="product-name d-flex">
                    <div class="one-forth text-left px-4">
                        <span>@WebApplication1.Resources.CardTexts.productDetails</span>
                    </div>
                    <div class="one-eight text-center">
                        <span>@WebApplication1.Resources.CardTexts.price</span>
                    </div>
                    <div class="one-eight text-center">
                        <span>@WebApplication1.Resources.CardTexts.piece</span>
                    </div>
                    <div class="one-eight text-center">
                        <span>@WebApplication1.Resources.CardTexts.generalTotal</span>
                    </div>
                    <div class="one-eight text-center px-4">
                        <span>@WebApplication1.Resources.CardTexts.remove</span>
                    </div>
                </div> @*Sepet ürünleri burada*@
                @{
                    foreach (var item in Model)
                    {
                    <div class="product-cart d-flex">
                    <div class="one-forth">
                        <div class="product-img" style="background-image: url(/Content/images/item-6.jpg);">
                        </div>
                        <div class="display-tc">
                            <h3>@item.ProductID</h3>
                        </div>
                    </div>
                    <div class="one-eight text-center">
                        <div class="display-tc">
                            <span class="price">@item.ProductID</span>
                        </div>
                    </div>
                    <div class="one-eight text-center">
                        <div class="display-tc">
                            <input type="text" id="quantity" name="quantity" class="form-control input-number text-center" value="1" min="1" max="100">
                        </div>
                    </div>
                    <div class="one-eight text-center">
                        <div class="display-tc">
                            <span class="price">@item.ProductID</span>
                        </div>
                    </div>
                    <div class="one-eight text-center">
                        <div class="display-tc">
                            <a href="#" class="closed"></a>
                        </div>
                    </div>
                </div>
                    }
                }
            </div>
        </div>
        <div class="row row-pb-lg">
            <div class="col-md-12">
                <div class="total-wrap">
                    <div class="row">
                        <div class="col-sm-12">
                            
                                

                                    @using (Html.BeginForm("Card", "Home", FormMethod.Post))
                                    {
                                        <div class="row form-group">
                                        <div class="col-sm-12">
                                            <input type="text" name="code" class="form-control input-number" placeholder="@WebApplication1.Resources.CardTexts.couponNumber">
                                        </div>
                                        <div class="col-sm-12">
                                            <input type="submit" value="@WebApplication1.Resources.CardTexts.acceptCoupon" class="btn btn-secondary" style="width:100%">
                                        </div>
                                     </div>
                                     }


                                        </div>
                        <div class="col-sm-12 text-center">
                            <div class="total">
                                <div class="sub">
                                    <p><span>@WebApplication1.Resources.CardTexts.subtotal</span> <span>@Session["Price"]</span></p>
                                    <p><span>@WebApplication1.Resources.CardTexts.shippingPrice</span> <span>@cargoPrice</span></p>
                                    <p><span>@WebApplication1.Resources.CardTexts.discount</span> <span>/</span></p>
                                </div>
                                <div class="grand-total">
                                    <p><span><strong>@WebApplication1.Resources.CardTexts.total</strong></span> <span>@**@</span></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-8 offset-sm-2 text-center colorlib-heading colorlib-heading-sm">
                <h2>@WebApplication1.Resources.CardTexts.suggestions</h2>
            </div>
        </div>
        <div class="row">

            @{ for (int i = 0; i < 4; i++)
                {
                    <div class="col-md-3 col-lg-3 mb-4 text-center">
                        <div class="product-entry border">
                            <a href="#" class="prod-img">
                                <img src="/Content/images/item-3.jpg" class="img-fluid">
                            </a>
                            <div class="desc">
                                <h2><a href="#">Erkek Taja Commissioner</a></h2>
                                <span class="price">@*Buraya Fiyat Toplamı*@</span>
                            </div>
                        </div>
                    </div>
                    @*<div class="col-md-3 col-lg-3 mb-4 text-center">
                        <div class="product-entry border">
                            <a href="#" class="prod-img">
                                <img src="/Content/images/item-4.jpg" class="img-fluid">
                            </a>
                            <div class="desc">
                                <h2><a href="#">Russ Erkek Sneakers</a></h2>
                                <span class="price">@price</span>
                            </div>
                        </div>
                    </div>*@
                    }
                }
            </div>
    </div>
</div>


