﻿@model List<WebApplication1.Models.Comment>

<div class="row">
    <div class="col-sm-12">
        <div class="row">
            <div class="col-md-12 pills">
                <div class="bd-example bd-example-tabs">
                    <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="pills-description-tab" data-toggle="pill" href="#pills-description" role="tab" aria-controls="pills-description" aria-expanded="true">@WebApplication1.Resources.UrunDetayTexts.itemDesc</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="pills-manufacturer-tab" data-toggle="pill" href="#pills-manufacturer" role="tab" aria-controls="pills-manufacturer" aria-expanded="true">@WebApplication1.Resources.UrunDetayTexts.Producer</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="pills-review-tab" data-toggle="pill" href="#pills-review" role="tab" aria-controls="pills-review" aria-expanded="true">@WebApplication1.Resources.UrunDetayTexts.reviews</a>
                        </li>
                    </ul>
                    <div class="tab-content" id="pills-tabContent">
                        <div class="tab-pane border fade show active" id="pills-description" role="tabpanel" aria-labelledby="pills-description-tab">
                            <p>
                                @WebApplication1.Resources.UrunDetayTexts.itemDesc
                            </p>
                            <p>
                                @WebApplication1.Resources.UrunDetayTexts.itemDesc
                            </p>
                            <ul>

                                <li> @WebApplication1.Resources.UrunDetayTexts.itemDesc </li>
                                <li> @WebApplication1.Resources.UrunDetayTexts.itemDesc </li>
                                <li> @WebApplication1.Resources.UrunDetayTexts.itemDesc </li>
                                <li>@WebApplication1.Resources.UrunDetayTexts.itemDesc</li>
                                <li>@WebApplication1.Resources.UrunDetayTexts.itemDesc</li>
                            </ul>
                        </div>
                        <div class="tab-pane border fade" id="pills-manufacturer" role="tabpanel" aria-labelledby="pills-manufacturer-tab">
                            <p>@WebApplication1.Resources.UrunDetayTexts.itemDesc</p>
                            <p>@WebApplication1.Resources.UrunDetayTexts.itemDesc</p>
                        </div>
                        <div class="tab-pane border fade" id="pills-review" role="tabpanel" aria-labelledby="pills-review-tab">
                            <div class="row">
                                <div class="col-md-12">
                                    @{
                                        foreach (var item in Model)
                                        {
                                            <div class="review">
                                                <div class="desc">
                                                    <h4>
                                                        <span class="text-left">@item.CommentHeader</span>
                                                    </h4>
                                                    <p class="star">
                                                        @{
                                                            switch (@item.commentRate)
                                                            {
                                                                case 1:
                                                                    {
                                                                        <span>
                                                                            <i class="icon-star-full"></i>
                                                                            <i class="icon-star-empty"></i>
                                                                            <i class="icon-star-empty"></i>
                                                                            <i class="icon-star-empty"></i>
                                                                            <i class="icon-star-empty"></i>
                                                                        </span>
                                                                    }
                                                                    break;
                                                                case 2:
                                                                    {
                                                                        <span>
                                                                            <i class="icon-star-full"></i>
                                                                            <i class="icon-star-full"></i>
                                                                            <i class="icon-star-empty"></i>
                                                                            <i class="icon-star-empty"></i>
                                                                            <i class="icon-star-empty"></i>
                                                                        </span>
                                                                    }
                                                                    break;
                                                                case 3:
                                                                    {
                                                                        <span>
                                                                            <i class="icon-star-full"></i>
                                                                            <i class="icon-star-full"></i>
                                                                            <i class="icon-star-full"></i>
                                                                            <i class="icon-star-empty"></i>
                                                                            <i class="icon-star-empty"></i>
                                                                        </span>
                                                                    }
                                                                    break;
                                                                case 4:
                                                                    {
                                                                        <span>
                                                                            <i class="icon-star-full"></i>
                                                                            <i class="icon-star-full"></i>
                                                                            <i class="icon-star-full"></i>
                                                                            <i class="icon-star-full"></i>
                                                                            <i class="icon-star-empty"></i>
                                                                        </span>
                                                                    }
                                                                    break;
                                                                case 5:
                                                                    {
                                                                        <span>
                                                                            <i class="icon-star-full"></i>
                                                                            <i class="icon-star-full"></i>
                                                                            <i class="icon-star-full"></i>
                                                                            <i class="icon-star-full"></i>
                                                                            <i class="icon-star-full"></i>
                                                                        </span>
                                                                    }
                                                                    break;
                                                                default:
                                                                    {
                                                                        <span>
                                                                            <i class="icon-star-half"></i>
                                                                            <i class="icon-star-half"></i>
                                                                            <i class="icon-star-half"></i>
                                                                            <i class="icon-star-half"></i>
                                                                            <i class="icon-star-half"></i>
                                                                        </span>
                                                                    }
                                                                    break;
                                                            }
                                                        }
                                                        <span class="text-right"><a href="#" class="reply"><i class="icon-reply"></i></a></span>
                                                    </p>
                                                    <p>@item.CommentString</p>
                                                </div>
                                            </div>
                                        }
                                    }


                                </div>
                                @*<div class="col-md-4">
                                    <div class="rating-wrap">
                                        <h3 class="head">Puanlar</h3>
                                        <div class="wrap">
                                            <p class="star">
                                                <span>
                                                    <i class="icon-star-full"></i>
                                                    <i class="icon-star-full"></i>
                                                    <i class="icon-star-full"></i>
                                                    <i class="icon-star-full"></i>
                                                    <i class="icon-star-full"></i>
                                                    (98%)
                                                </span>
                                                <span>20 İnceleme</span>
                                            </p>
                                            <p class="star">
                                                <span>
                                                    <i class="icon-star-full"></i>
                                                    <i class="icon-star-full"></i>
                                                    <i class="icon-star-full"></i>
                                                    <i class="icon-star-full"></i>
                                                    <i class="icon-star-empty"></i>
                                                    (85%)
                                                </span>
                                                <span>10 İnceleme</span>
                                            </p>
                                            <p class="star">
                                                <span>
                                                    <i class="icon-star-full"></i>
                                                    <i class="icon-star-full"></i>
                                                    <i class="icon-star-full"></i>
                                                    <i class="icon-star-empty"></i>
                                                    <i class="icon-star-empty"></i>
                                                    (70%)
                                                </span>
                                                <span>5 İnceleme</span>
                                            </p>
                                            <p class="star">
                                                <span>
                                                    <i class="icon-star-full"></i>
                                                    <i class="icon-star-full"></i>
                                                    <i class="icon-star-empty"></i>
                                                    <i class="icon-star-empty"></i>
                                                    <i class="icon-star-empty"></i>
                                                    (10%)
                                                </span>
                                                <span>0 İnceleme</span>
                                            </p>
                                            <p class="star">
                                                <span>
                                                    <i class="icon-star-full"></i>
                                                    <i class="icon-star-empty"></i>
                                                    <i class="icon-star-empty"></i>
                                                    <i class="icon-star-empty"></i>
                                                    <i class="icon-star-empty"></i>
                                                    (0%)
                                                </span>
                                                <span>0 İnceleme</span>
                                            </p>
                                        </div>
                                    </div>
                                </div>*@
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>