﻿
@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="colorlib-contact">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h3>@WebApplication1.Resources.ContactTexts.contactInfo</h3>
                <div class="row contact-info-wrap">
                    <div class="col-md-3">
                        <p><span><i class="icon-location"></i></span> 198 Kuzey Kampüs, <br> Serdivan 721 Sakarya 10016</p>
                    </div>
                    <div class="col-md-3">
                        <p><span><i class="icon-phone3"></i></span> <a href="tel://1234567920">+ 1235 2355 98</a></p>
                    </div>
                    <div class="col-md-3">
                        <p><span><i class="icon-paperplane"></i></span> <a href="mailto:info@yoursite.com">info@yoursite.com</a></p>
                    </div>
                    <div class="col-md-3">
                        <p><span><i class="icon-globe"></i></span> <a href="#">yoursite.com</a></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="contact-wrap">
                    <h3>@WebApplication1.Resources.ContactTexts.contactWithOur</h3>
                    <form action="#" class="contact-form">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="fname">@WebApplication1.Resources.ContactTexts.name</label>
                                    <input type="text" id="fname" class="form-control" placeholder="@WebApplication1.Resources.ContactTexts.name">
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="lname">@WebApplication1.Resources.ContactTexts.surname</label>
                                    <input type="text" id="lname" class="form-control" placeholder="@WebApplication1.Resources.ContactTexts.surname">
                                </div>
                            </div>
                            <div class="w-100"></div>
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label for="email">@WebApplication1.Resources.ContactTexts.mail</label>
                                    <input type="text" id="email" class="form-control" placeholder="@WebApplication1.Resources.ContactTexts.mail">
                                </div>
                            </div>
                            <div class="w-100"></div>
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label for="subject">@WebApplication1.Resources.ContactTexts.subject</label>
                                    <input type="text" id="subject" class="form-control" placeholder="@WebApplication1.Resources.ContactTexts.subject">
                                </div>
                            </div>
                            <div class="w-100"></div>
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label for="message">@WebApplication1.Resources.ContactTexts.message</label>
                                    <textarea name="message" id="message" cols="30" rows="10" class="form-control" placeholder="@WebApplication1.Resources.ContactTexts.message"></textarea>
                                </div>
                            </div>
                            <div class="w-100"></div>
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <input type="submit" value="@WebApplication1.Resources.ContactTexts.post" class="btn btn-primary">
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-md-12">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3022.9087670788635!2d30.330542315841754!3d40.74203297932877!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14ccadf2977958d7%3A0xc7996fa884f94c03!2sSakarya+%C3%9Cniversitesi!5e0!3m2!1str!2str!4v1543680814372" width="100%" height="400px" frameborder="0" style="border:0" allowfullscreen></iframe>
            </div>
        </div>
    </div>
</div>


