﻿@using WebApplication1.Models
@model List<WebApplication1.Models.Product>
@{
    ViewBag.Title = "Erkek";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="breadcrumbs-two">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="breadcrumbs-img" style="background-image: url(/Content/images/cover-img-1.jpg);">
                    <h2>@WebApplication1.Resources.ErkekTexts.man</h2>
                </div>
                <div class="menu text-center">
                    <p><a href="#">@WebApplication1.Resources.ErkekTexts.newProducts</a> <a href="#">@WebApplication1.Resources.ErkekTexts.topSellers</a> <a href="#">@WebApplication1.Resources.ErkekTexts.topSellers2</a> <a href="#">@WebApplication1.Resources.ErkekTexts.discount</a></p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="colorlib-featured">
    <div class="container">
        <div class="row">
            <div class="col-sm-4 text-center">
                <div class="featured">
                    <div class="featured-img featured-img-2" style="background-image: url(/Content/images/men.jpg);">
                        <h2>@WebApplication1.Resources.ErkekTexts.dailyShoes</h2>
                        <p><a href="#" class="btn btn-primary btn-lg">@WebApplication1.Resources.ErkekTexts.buyIt</a></p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 text-center">
                <div class="featured">
                    <div class="featured-img featured-img-2" style="background-image: url(/Content/images/women.jpg);">
                        <h2>@WebApplication1.Resources.ErkekTexts.confortableShoes</h2>
                        <p><a href="#" class="btn btn-primary btn-lg">@WebApplication1.Resources.ErkekTexts.buyIt</a></p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 text-center">
                <div class="featured">
                    <div class="featured-img featured-img-2" style="background-image: url(/Content/images/item-11.jpg);">
                        <h2>@WebApplication1.Resources.ErkekTexts.sportShoes</h2>
                        <p><a href="#" class="btn btn-primary btn-lg">@WebApplication1.Resources.ErkekTexts.buyIt</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="colorlib-product">
    <div class="container">
        <div class="row">
            <div class="col-sm-8 offset-sm-2 text-center colorlib-heading colorlib-heading-sm">
                <h2>@WebApplication1.Resources.ErkekTexts.seeAllProducts</h2>
            </div>
        </div>
        <div class="row row-pb-md">

            @{
                foreach (var item in Model)
                {
                    <div class="col-md-3 col-lg-3 mb-4 text-center">
                        <div class="product-entry border">
                            <a href="#" class="prod-img">
                                <img src="@item.url" class="img-fluid">
                            </a>
                            <div class="desc">
                                <h2><a href="@Url.Action("UrunDetay","Home",new { urunID=item.ProductID })">@item.ProductName</a></h2>
                                <span class="price">@item.price</span>
                            </div>
                        </div>
                    </div>
                }
            }
        </div>
        <div class="row">
            <div class="col-md-12 text-center">
                @*<div class="block-27">
                    <ul>
                        <li><a href="#"><i class="ion-ios-arrow-back"></i></a></li>
                        <li class="active"><span>1</span></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#">5</a></li>
                        <li><a href="#"><i class="ion-ios-arrow-forward"></i></a></li>
                    </ul>
                </div>*@
            </div>
        </div>
    </div>
</div>

