﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    @model List<WebApplication1.Models.Product>
}

<aside id="colorlib-hero">      
    <div class="flexslider">   
        <ul class="slides">
            


            
                    <li style="background-image: url(/Content/images/img_bg_3.jpg);  ">
                        <!--Buraya sliderdaki indirim resmi gelecek.-->
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-sm-6 offset-sm-3 text-center slider-text">
                                    <div class="slider-text-inner">
                                        <div class="desc">
                                            <h1 class="head-1">Yeni Sezon</h1> <!--Buraya indirimin textleri gelecek.-->
                                            <h2 class="head-2">Ayakkabılarda</h2>
                                            <h2 class="head-3"><strong class="font-weight-bold">90%</strong>'a varan İndirimler</h2>
                                            <p class="category"><span>Sizi bekliyor!</span></p>
                                            <p><a href="#" class="btn btn-primary">Koleksiyona Git</a></p> <!--Buraya indirimin linki gelecek-->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>

                    <li style="background-image: url(/Content/images/img_bg_2.jpg);">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-sm-6 offset-sm-3 text-center slider-text">
                                    <div class="slider-text-inner">
                                        <div class="desc">
                                            <h1 class="head-1">PATRON</h1>
                                            <h2 class="head-2">Çıldırdı</h2>
                                            <h2 class="head-3"><strong class="font-weight-bold">60%</strong>'a Varan İndirimler</h2>
                                            <p class="category"><span>Sizi Bekliyor</span></p>
                                            <p><a href="#" class="btn btn-primary">Koleksiyona Git</a></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                
            
        </ul>
    </div>
</aside>
<div class="colorlib-intro">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center">
                <h2 class="intro">@WebApplication1.Resources.IndexTexts.creatYourOwn</h2>
            </div>
        </div>
    </div>
</div>
<div class="colorlib-product">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6 text-center">
                <div class="featured">
                    <a href="@Url.Action("Erkek","Home",null)" class="featured-img" style="background-image: url(/Content/images/men.jpg);"></a>
                    <div class="desc">
                        <h2><a href="@Url.Action("Erkek","Home",null)">@WebApplication1.Resources.IndexTexts.Mens</a></h2>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 text-center">
                <div class="featured">
                    <a href="@Url.Action("Kadin","Home",null)" class="featured-img" style="background-image: url(/Content/images/women.jpg);"></a>
                    <div class="desc">
                        <h2><a href="@Url.Action("Kadin","Home",null)">@WebApplication1.Resources.IndexTexts.Womens</a></h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="colorlib-product">
    <div class="container">
        <div class="row">
            <div class="col-sm-8 offset-sm-2 text-center colorlib-heading">
                <h2>@WebApplication1.Resources.IndexTexts.mostSold</h2>
            </div>
        </div>
        <div class="row row-pb-md">
            @{

                foreach (var item in Model)
                {
                    <div class="col-lg-3 mb-4 text-center">
                        <div class="product-entry border">
                            <a href="#" class="prod-img">
                                <img src="@item.url" class="img-fluid" alt="Rahat Ayakkabılar Burada!">
                            </a>
                            <div class="desc">
                                <h2><a href="@Url.Action("UrunDetay","Home",new { urunID=item.ProductID })">@item.ProductName</a></h2>
                                <span class="price">@item.price </span>
                            </div>
                        </div>
                    </div>
                }
            }
        </div>
    </div>


        
    </div>


