﻿@model List<WebApplication1.Models.Product>
@{
    ViewBag.Title = "Kadin";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="breadcrumbs">
    <div class="container">
        <div class="row">
            <div class="col">
                <p class="bread"><span><a href="@Url.Action("Index", "Home", null)">Ana Sayfa</a></span>@WebApplication1.Resources.KadinTexts.women<span></span></p>
            </div>
        </div>
    </div>
</div>
<div class="breadcrumbs-two">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="breadcrumbs-img" style="background-image: url(/Content/images/cover-img-1.jpg);">
                    <h2>@WebApplication1.Resources.KadinTexts.women</h2>
                </div>
                <div class="menu text-center">
                    <p><a href="#">@WebApplication1.Resources.KadinTexts.newProd</a> <a href="#">@WebApplication1.Resources.KadinTexts.mostSold</a> <a href="#">@WebApplication1.Resources.KadinTexts.popular</a> <a href="#">@WebApplication1.Resources.KadinTexts.discount</a></p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="colorlib-featured">
    <div class="container">
        <div class="row">
            <div class="col-sm-4 text-center">
                <div class="featured">
                    <div class="featured-img featured-img-2" style="background-image: url(/Content/images/img_bg_2.jpg);">
                        <h2>@WebApplication1.Resources.ErkekTexts.dailyShoes</h2>
                        <p><a href="#" class="btn btn-primary btn-lg">@WebApplication1.Resources.KadinTexts.buy</a></p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 text-center">
                <div class="featured">
                    <div class="featured-img featured-img-2" style="background-image: url(/Content/images/women.jpg);">
                        <h2>@WebApplication1.Resources.ErkekTexts.confortableShoes</h2>
                        <p><a href="#" class="btn btn-primary btn-lg">@WebApplication1.Resources.KadinTexts.buy</a></p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 text-center">
                <div class="featured">
                    <div class="featured-img featured-img-2" style="background-image: url(/Content/images/item-11.jpg);">
                        <h2>@WebApplication1.Resources.ErkekTexts.sportShoes</h2>
                        <p><a href="#" class="btn btn-primary btn-lg">@WebApplication1.Resources.KadinTexts.buy</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="colorlib-product">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-xl-3">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="side border mb-1">
                            <h3>@WebApplication1.Resources.KadinTexts.brand</h3>
                            @{
                                foreach (var brand in Model)
                                {
                                    <ul>
                                        <li><a href="#">Adidas</a></li>
                                    </ul>
                                }
                            }
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="side border mb-1">
                            <h3>@WebApplication1.Resources.KadinTexts.shoeSize</h3>
                            <div class="block-26 mb-2">
                                <h4>@WebApplication1.Resources.KadinTexts.shoeSize</h4>
                                <ul>
                                    <li><a href="#">34</a></li>
                                    <li><a href="#">35</a></li>
                                    <li><a href="#">36</a></li>
                                    <li><a href="#">37</a></li>
                                    <li><a href="#">38</a></li>
                                    <li><a href="#">39</a></li>
                                    <li><a href="#">40</a></li>
                                    <li><a href="#">41</a></li>
                                    <li><a href="#">42</a></li>
                                    <li><a href="#">43</a></li>
                                    <li><a href="#">44</a></li>
                                    <li><a href="#">45</a></li>
                                    <li><a href="#">46</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="side border mb-1">
                            <h3>@WebApplication1.Resources.KadinTexts.style</h3>
                            <ul>
                                <li><a href="#">@WebApplication1.Resources.KadinTexts.slipOns</a></li>
                                <li><a href="#">@WebApplication1.Resources.KadinTexts.boots</a></li>
                                <li><a href="#">@WebApplication1.Resources.KadinTexts.sandals</a></li>
                                <li><a href="#">@WebApplication1.Resources.KadinTexts.laceups</a></li>
                                <li><a href="#">@WebApplication1.Resources.KadinTexts.oxford</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="side border mb-1">
                            <h3>@WebApplication1.Resources.KadinTexts.color</h3>
                            <ul>
                                <li><a href="#">@WebApplication1.Resources.KadinTexts.black</a></li>
                                <li><a href="#">@WebApplication1.Resources.KadinTexts.white</a></li>
                                <li><a href="#">@WebApplication1.Resources.KadinTexts.blue</a></li>
                                <li><a href="#">@WebApplication1.Resources.KadinTexts.red</a></li>
                                <li><a href="#">@WebApplication1.Resources.KadinTexts.green</a></li>
                                <li><a href="#">@WebApplication1.Resources.KadinTexts.grey</a></li>
                                <li><a href="#">@WebApplication1.Resources.KadinTexts.orange</a></li>
                                <li><a href="#">@WebApplication1.Resources.KadinTexts.cream</a></li>
                                <li><a href="#">@WebApplication1.Resources.KadinTexts.brown</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="side border mb-1">
                            <h3>@WebApplication1.Resources.KadinTexts.material</h3>
                            <ul>
                                <li><a href="#">@WebApplication1.Resources.KadinTexts.leather</a></li>
                                <li><a href="#">@WebApplication1.Resources.KadinTexts.suede</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="side border mb-1">
                            <h3>@WebApplication1.Resources.KadinTexts.technologies</h3>
                            <ul>
                                <li><a href="#">BioBevel</a></li>
                                <li><a href="#">Groove</a></li>
                                <li><a href="#">FlexBevel</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-9 col-xl-9">
                <div class="row row-pb-md">

                    @{
                        foreach (var item in Model)
                        {

                            <div class="col-lg-4 mb-4 text-center">
                                <div class="product-entry border">
                                    <a href="#" class="prod-img">
                                        <img src="@item.url" class="img-fluid" alt="Free html5 bootstrap 4 template">
                                    </a>
                                    <div class="desc">
                                        <h2><a href="@Url.Action("UrunDetay","Home",new { urunID=item.ProductID })">@item.ProductName</a></h2>
                                        <span class="price">@item.price</span>
                                    </div>
                                </div>
                            </div>

                        }
                    }

                </div>
                <div class="row">
                    <div class="col-md-12 text-center">
                        @*<div class="block-27">
                            <ul>
                                <li><a href="#"><i class="ion-ios-arrow-back"></i></a></li>
                                <li class="active"><span>1</span></li>
                                <li><a href="#">2</a></li>
                                <li><a href="#">3</a></li>
                                <li><a href="#">4</a></li>
                                <li><a href="#">5</a></li>
                                <li><a href="#"><i class="ion-ios-arrow-forward"></i></a></li>
                            </ul>
                        </div>*@
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>