﻿
@{
    ViewBag.Title = "Odeme";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="breadcrumbs">
    <div class="container">
        <div class="row">
            <div class="col">
                <p class="bread"><span><a href="@Url.Action("Index","Home",null)">@WebApplication1.Resources.AboutTexts.main</a></span> / <span>@WebApplication1.Resources.OdemeBasariliTexts.checkout</span></p>
            </div>
        </div>
    </div>
</div>

<div class="colorlib-product">
    <div class="container">
        <div class="row row-pb-lg">
            <div class="col-sm-10 offset-md-1">
                <div class="process-wrap">
                    <div class="process text-center active">
                        <p><span>01</span></p>
                        <h3>@WebApplication1.Resources.OdemeBasariliTexts.shoppingcart</h3>
                    </div>
                    <div class="process text-center active">
                        <p><span>02</span></p>
                        <h3>@WebApplication1.Resources.OdemeBasariliTexts.checkout</h3>
                    </div>
                    <div class="process text-center">
                        <p><span>03</span></p>
                        <h3>@WebApplication1.Resources.OdemeBasariliTexts.orderComp</h3>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8">
                <form method="post" class="colorlib-form">
                    <h2>Fatura Detayları</h2>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="country">Ülke Seç</label>
                                <div class="form-field">
                                    <i class="icon icon-arrow-down3"></i>
                                    <select name="people" id="people" class="form-control">
                                        <option value="#">Ülke Seç</option>
                                        <option value="#">Alaska</option>
                                        <option value="#">China</option>
                                        <option value="#">Japan</option>
                                        <option value="#">Korea</option>
                                        <option value="#">Philippines</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="fname">İsim</label>
                                <input type="text" id="fname" class="form-control" placeholder="İsim">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="lname">Soyad</label>
                                <input type="text" id="lname" class="form-control" placeholder="Soy isim">
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="companyname">Şirket İsmi</label>
                                <input type="text" id="companyname" class="form-control" placeholder="Şirket İsmi">
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="fname">Adres</label>
                                <input type="text" id="address" class="form-control" placeholder="Adres Giriniz">
                            </div>
                            <div class="form-group">
                                <input type="text" id="address2" class="form-control" placeholder="İkinci Adres">
                            </div>
                        </div>

                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="companyname">Bölge/Şehir</label>
                                <input type="text" id="towncity" class="form-control" placeholder="Bölge ya da Şehir">
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="stateprovince">State/Province</label>
                                <input type="text" id="fname" class="form-control" placeholder="State Province">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="lname">Zip/Posta Kodu</label>
                                <input type="text" id="zippostalcode" class="form-control" placeholder="Zip / Posta Kodu">
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="email">Mail Adresi</label>
                                <input type="text" id="email" class="form-control" placeholder="Bölge Adresi">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="Phone">Telefon Numarası</label>
                                <input type="text" id="zippostalcode" class="form-control" placeholder="">
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <div class="radio">
                                    <label><input type="radio" name="optradio"> Hesap oluştur? </label>
                                    <label><input type="radio" name="optradio"> Farklı Adrese Gönder</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-lg-4">
                <div class="row">
                    <div class="col-md-12">
                        <div class="cart-detail">
                            <h2>Cart Total</h2>
                            <ul>
                                <li>
                                    <span>Ara Toplam</span> <span>100.00₺</span>
                                    <ul>
                                        <li><span>1 x Ürün İsmi</span> <span>99.00₺</span></li>
                                        <li><span>1 x Ürün İsmi</span> <span>78.00₺</span></li>
                                    </ul>
                                </li>
                                <li><span>Kargo</span> <span>0.00₺</span></li>
                                <li><span>Sipariş Toplamı</span> <span>180.00₺</span></li>
                            </ul>
                        </div>
                    </div>
                    <div class="w-100"></div>
                    <div class="col-md-12">
                        <div class="cart-detail">
                            <h2>Ödeme Şekli</h2>
                            <div class="form-group">
                                <div class="col-md-12">
                                    <div class="radio">
                                        <label><input type="radio" name="optradio"> Doğrudan Banka Ödemesi</label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-12">
                                    <div class="radio">
                                        <label><input type="radio" name="optradio"> Ödeme Kontrol</label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-12">
                                    <div class="radio">
                                        <label><input type="radio" name="optradio"> Paypal</label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-12">
                                    <div class="checkbox">
                                        <label><input type="checkbox" value=""> Şartları okudum ve kabul ediyorum</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 text-center">
                        <p><a href="#" class="btn btn-primary">Place an order</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


