﻿
@{
    ViewBag.Title = "OdemeBasarili";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="breadcrumbs">
    <div class="container">
        <div class="row">
            <div class="col">
                <p class="bread"><span><a href="@Url.Action("Index","Home",null)">@WebApplication1.Resources.AboutTexts.main</a></span> / <span>@WebApplication1.Resources.OdemeBasariliTexts.succ</span></p>
            </div>
        </div>
    </div>
</div>

<div class="colorlib-product">
    <div class="container">
        <div class="row row-pb-lg">
            <div class="col-sm-10 offset-md-1">
                <div class="process-wrap">
                    <div class="process text-center active">
                        <p><span>01</span></p>
                        <h3>@WebApplication1.Resources.OdemeBasariliTexts.shoppingcart</h3>
                    </div>
                    <div class="process text-center active">
                        <p><span>02</span></p>
                        <h3>@WebApplication1.Resources.OdemeBasariliTexts.checkout</h3>
                    </div>
                    <div class="process text-center active">
                        <p><span>03</span></p>
                        <h3>@WebApplication1.Resources.OdemeBasariliTexts.orderComp</h3>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-10 offset-sm-1 text-center">
                <p class="icon-addcart"><span><i class="icon-check"></i></span></p>
                <h2 class="mb-4">
                    @WebApplication1.Resources.OdemeBasariliTexts.thank
                </h2>
                <p>
                    <a href="@Url.Action("Index","Home",null)" class="btn btn-primary btn-outline-primary">@WebApplication1.Resources.AboutTexts.main</a>
                    <a href="@Url.Action("Index","Home",null)" class="btn btn-primary btn-outline-primary"><i class="icon-shopping-cart"></i> @WebApplication1.Resources.OdemeBasariliTexts.cont</a>
                </p>
            </div>
        </div>
    </div>
</div>


