﻿
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    @model List<WebApplication1.Models.Product>
}


<div class="colorlib-product">
    <div class="container">
        <div class="row row-pb-lg product-detail-wrap">

            @{
                foreach (var item in Model)
                {
                    <div class="col-sm-8">

                        <div class="product-entry border">
                            <a href="#" class="prod-img">
                                <img src=@item.url class="img-fluid" alt=@WebApplication1.Resources.UrunDetayTexts.comfyShoes>
                            </a>
                        </div>

                    </div>
                    <div class="col-sm-4">

                        <div class="product-desc">
                            <h3>@item.ProductName</h3>
                            <p class="price">
                                <span>@item.price</span>
                                <span class="rate">
                                    <i class="icon-star-full"></i>
                                    <i class="icon-star-full"></i>
                                    <i class="icon-star-full"></i>
                                    <i class="icon-star-full"></i>
                                    <i class="icon-star-half"></i>
                                    (74 Derecelendirme)
                                </span>
                            </p>
                            <p>
                                @item.ProductName
                            </p>
                            <div class="size-wrap">
                                <div class="block-26 mb-2">
                                    <h4>@WebApplication1.Resources.UrunDetayTexts.size</h4>
                                    <ul>
                                        <li><a href="#">7</a></li>
                                        <li><a href="#">7.5</a></li>
                                        <li><a href="#">8</a></li>
                                        <li><a href="#">8.5</a></li>
                                        <li><a href="#">9</a></li>
                                        <li><a href="#">9.5</a></li>
                                        <li><a href="#">10</a></li>
                                        <li><a href="#">10.5</a></li>
                                        <li><a href="#">11</a></li>
                                        <li><a href="#">11.5</a></li>
                                        <li><a href="#">12</a></li>
                                        <li><a href="#">12.5</a></li>
                                        <li><a href="#">13</a></li>
                                        <li><a href="#">13.5</a></li>
                                        <li><a href="#">14</a></li>
                                    </ul>
                                </div>
                                <div class="block-26 mb-4">
                                    <h4>@WebApplication1.Resources.UrunDetayTexts.gender</h4>
                                    <ul>
                                        <li><a href="#">M</a></li>
                                        <li><a href="#">W</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="input-group mb-4">
                                <span class="input-group-btn">
                                    <button type="button" class="quantity-left-minus btn" data-type="minus" data-field="">
                                        <i class="icon-minus2"></i>
                                    </button>
                                </span>
                                <input type="text" id="quantity" name="quantity" class="form-control input-number" value="1" min="1" max="100">
                                <span class="input-group-btn ml-1">
                                    <button type="button" class="quantity-right-plus btn" data-type="plus" data-field="">
                                        <i class="icon-plus2"></i>
                                    </button>
                                </span>
                            </div>
                            <div class="row">
                                <div class="col-sm-12 text-center">
                                    <p class="addtocart"><a href="cart.html" class="btn btn-primary btn-addtocart"><i class="icon-shopping-cart"></i> Add to Cart</a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            }

            @Html.Partial("Comments", ViewData["Comments"]);
        </div>
    </div>
</div>

