﻿
@{
    ViewBag.Title = "Auth";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 style="text-align:center">@ViewBag.Message</h2>
<div class="btn-light" style="width:auto"><a href="@Url.Action("Index","Home",null)">Anasayfaya Git</a></div>

