﻿@model WebApplication1.Models.Users

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Styles.Render("~/Content/css");
@Scripts.Render("~/Content/js");


@using (Html.BeginForm("Auth", "User", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <div class="container">
        <div class="row" style="margin-top:20px">
            <div class="col-xs-12 col-sm-12 col-md-12 col-sm-offset-12 col-md-offset-12">
                <form role="form">
                    <fieldset>
                        <h2>Please Sign In</h2>
                        <hr class="colorgraph">
                        <div class="form-group">
                            @Html.EditorFor(model => model.EmailID)
                            @Html.ValidationMessageFor(model => model.EmailID)
                            @*<input type="email" name="email" id="email" class="form-control input-lg" placeholder=@WebApplication1.Resources.LoginTexts.email>*@
                        </div>
                        <div class="form-group">
                            @Html.EditorFor(model => model.Password)
                            @Html.ValidationMessageFor(model => model.Password)
                            @*<input type="password" name="password" id="password" class="form-control input-lg" placeholder=@WebApplication1.Resources.LoginTexts.password>*@
                        </div>
                        @*<span class="button-checkbox">
                            @*<button type="button" class="btn" data-color="info">@WebApplication1.Resources.LoginTexts.rememberMe</button>
                            <input type="checkbox" name="remember_me" id="remember_me" checked="checked" class="hidden">*@
                            @*<a href="" class="btn btn-link pull-right">@WebApplication1.Resources.LoginTexts.forgetPassword</a>
                        </span>*@
                        <hr class="colorgraph">
                        <div class="row">
                            <div class="col-xs-6 col-sm-6 col-md-6">
                                <input type="submit" class="btn btn-lg btn-success btn-block" value=@WebApplication1.Resources.LoginTexts.signin>
                            </div>
                            <div class="col-xs-6 col-sm-6 col-md-6">
                                <a href="" class="btn btn-lg btn-primary btn-block">@WebApplication1.Resources.LoginTexts.register</a>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
}
